@use "global" as *;

.c-section-title {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: rem(20);
  font-weight: $bold;
  color: $color-black;
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-family: $heading-family;
}

.c-section-title__dot {
  width: rem(25);
  height: rem(25);
  background-color: $color-cyan;
  border-radius: 50%;
  flex-shrink: 0;
}

.c-section-title__dot.c-section-title__dot--green {
  width: rem(25);
  height: rem(25);
  background-color: $color-green;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-section-title__dot.c-section-title__dot--pink {
  width: rem(25);
  height: rem(25);
  background-color: $color-pink;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-section-title__dot.c-section-title__dot--orange {
  width: rem(25);
  height: rem(25);
  background-color: $color-orange;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-section-title__dot.c-section-title__dot--blue {
  width: rem(25);
  height: rem(25);
  background-color: $color-blue;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-section-title__dot.c-section-title__dot--cyan {
  width: rem(25);
  height: rem(25);
  background-color: $color-cyan;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-section-title__dot.c-section-title__dot--navy {
  width: rem(25);
  height: rem(25);
  background-color: $color-navy;
  border-radius: 50%;
  flex-shrink: 0;
}
