@use "global" as *;

.p-bring__inner.l-inner {
  width: 100%;
  @include mq(md) {
    max-width: rem(1080);
  }
}

.p-bring__box {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(24);
    max-width: rem(920);
    margin: 0 auto;
  }
}

.p-bring__list-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(10);
  border: 2px solid $color-cyan;
  border-radius: rem(20);
  padding: rem(10) rem(14);
  width: 100%;
  @include mq(md) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: rem(10) 3%;
    padding: rem(28) rem(40);
    align-items: start;
  }
}

.p-bring__item {
  font-size: rem(15);
  line-height: 1.8;
  @include mq(md) {
    font-size: rem(18);
    letter-spacing: 0.05em;

    // 明示的にグリッド配置
    &:nth-child(1) { grid-area: 1 / 1; }
    &:nth-child(2) { grid-area: 2 / 1; }
    &:nth-child(3) { grid-area: 1 / 2; }
    &:nth-child(4) { grid-column: 2 / 4; grid-row: 2; }
    &:nth-child(5) { grid-area: 1 / 3; }
  }
}

.p-bring__desc {
  margin-top: rem(14);
  width: 100%;
  @include mq(md) {
    margin-top: rem(18);
    padding-left: rem(10);
  }
}

.p-bring__desc-text {
  color: $color-black;
  font-size: rem(16);
  line-height: 1.8;
  letter-spacing: 0.05em;
}
