@use "global" as *;

.p-director__inner.l-inner {
  max-width: rem(600);
  @include mq("md") {
    max-width: rem(1020);
  }
}

.p-director__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: rem(20);
  color: $color-black;
}

.p-director__wrapper {
  margin-top: rem(10);
  display: flex;
  flex-direction: column;
  @include mq("md") {
    margin-top: rem(14);
    flex-direction: row;
    gap: rem(70);
    margin-inline: rem(34);
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-director__wrapper .p-director__body {
  @include mq("md") {
    margin-inline: 0;
  }
}

.p-director__wrapper.p-director__wrapper--bottom {
  margin-top: rem(20);

  @include mq("md") {
    gap: rem(70);
    margin-inline: rem(30);
  }
}

.p-director__body {
  font-size: rem(15);
  @include mq("md") {
    letter-spacing: 0.02em;
    line-height: 1.87;
    font-size: rem(17);
    margin-inline: rem(30);
  }
}

.p-director__pill-text {
  font-size: rem(16);
  line-height: 1.87;
  margin-top: rem(18);
  @include mq("md") {
    font-size: rem(17);
    margin-top: rem(12);
  }
}

.p-director__content {
  margin-top: rem(40);
  width: 100%;
  @include mq("md") {
    margin-top: rem(36);
    max-width: rem(920);
    margin: 0 auto;
  }
}

.p-director__pill {
  display: inline-block;
  padding: rem(6) rem(18);
  border: rem(1) solid $color-navy;
  color: $color-navy;
  border-radius: 30px;
  font-weight: 700;
  font-size: rem(18);
  line-height: 1;
  width: rem(150);
  text-align: center;
  @include mq("md") {
    width: rem(100);
  }
}

.p-director__text {
  color: $color-black;
  font-size: rem(16);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: 2;
  letter-spacing: 0em;
  @include mq("md") {
    font-size: rem(17);
    line-height: 2.05;
  }
}

.p-director__image-wrapper {
  width: 100%;
  margin-top: rem(30);
  @include mq("md") {
    max-width: rem(323);
    margin-top: 0;
  }
}
.p-director__image {
  width: 100%;

  @include mq("md") {
    max-width: rem(323);
    border-radius: rem(20);
    overflow: hidden;
  }
}

.p-director__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 323/320;
}

.p-director__cap {
  margin-top: rem(16);
}

.p-director__cap-text {
  color: $color-black;
  font-size: rem(15);
  font-weight: $medium;
  font-family: $base-font-family;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.p-director__name {
  color: $color-black;
  font-size: rem(17);
  font-weight: $medium;
  font-family: $base-font-family;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.p-director__kana {
  font-size: rem(15);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: 1;
  letter-spacing: 0.02em;
}

.p-director__wrapper.p-director__wrapper--bottom .p-director__body {
  @include mq("md") {
    max-width: rem(528);
    width: 100%;
    margin-inline: 0;
  }
}

.p-director__wrapper.p-director__wrapper--bottom .p-director__image-wrapper {
  @include mq("md") {
    max-width: rem(323);
    width: 100%;
  }
}
