@use "global" as *;

.p-faqContact__inner.l-inner {
  // width: 100%;
  // margin: 0 auto;
  // padding: 0 rem(15);
  @include mq(md) {
    max-width: rem(940);
  }
}

.p-faqContact__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: rem(16);
  font-weight: $bold;
  color: $color-blue;
  line-height: 1.6;
  margin-bottom: rem(28);
  @include mq(md) {
    font-size: rem(25);
  }
}

.p-faqContact__title .c-section-title__dot {
  width: rem(25);
  height: rem(25);
  background-color: $color-blue;
  border-radius: 50%;
  flex-shrink: 0;
}

.p-faqContact__title .c-section-title__dot--navy {
  background-color: $color-blue;
}

/* box */
.p-faqContact__box {
  font-family: $base-font-family;
  line-height: 1.8;
  color: $color-black;
  width: 100%;
  max-width: rem(500);
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(800);
  }
}

.p-faqContact__box.p-faqContact__box--green {
  border: 2px solid $color-green;
  border-radius: 20px;
  padding: rem(36) rem(20);
}

.p-faqContact__row {
  display: flex;
  flex-direction: column;
  gap: rem(0);
  flex-wrap: wrap;
  @include mq(md) {
    align-items: center;
    flex-direction: row;
    gap: rem(25);
  }
}

.p-faqContact__label {
  font-size: rem(16);
  font-weight: $medium;
  letter-spacing: 0.15em;
  color: $color-black;
  @include mq(md) {
    font-size: rem(18);
  }
}

.p-faqContact__tel {
  font-size: rem(28);
  font-weight: 700;
  color: $color-blue;
  text-decoration: underline;
  text-underline-offset: rem(5);
  transition: opacity 0.3s;
  @include mq(md) {
    font-size: rem(36);
  }
}

.p-faqContact__tel.p-faqContact__tel--green {
  color: $color-green;
}

.p-faqContact__tel:hover {
  opacity: 0.7;
}

.p-faqContact__tel.p-faqContact__tel--green:hover {
  opacity: 0.8;
}

.p-faqContact__note {
  display: block;
  font-size: rem(14);
  line-height: 1.9;
  margin-top: rem(10);
  color: $color-black;
  letter-spacing: 0.1em;
  @include mq(md) {
    margin-left: rem(32);
    font-size: rem(16);
  }
}

.p-faqContact__note span {
  display: inline-block;
}
