@use "global" as *;

.p-footer {
  background-color: $color-gray-light-2;
}

.p-footer__top {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(36) 0 rem(22);
  }
}

.p-footer__logo img {
  width: 100%;
  // max-width: rem(320);
  height: auto;
  object-fit: contain;
  @include mq("md") {
    max-width: rem(454);
  }
}

.p-footer__tel {
  margin: 0 0 rem(20) rem(30);
  text-align: center;
}
.p-footer__tel a {
  color: $color-black;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  @include mq("md") {
    font-size: rem(30);
    transition: opacity 0.3s;
  }
}

.p-footer__tel a:hover {
  @include mq("md") {
    opacity: 0.8;
  }
}
.p-footer__subLinks {
  list-style: none;
  margin-top: rem(22);
  width: 35%;
  @include mq("md") {
    margin-top: rem(60);
    width: 100%;
  }
}

.p-footer__subLink {
  @include mq("md") {
    margin-left: rem(72);
  }
}

.p-footer__subLink + .p-footer__subLink {
  margin-top: rem(10);
}

.p-footer__subLink a {
  color: $color-navy;
  text-decoration: underline;
  font-size: rem(16);
  letter-spacing: 0.05em;
  line-height: 1;
  @include mq("md") {
    padding-left: rem(40);
    font-size: rem(18);
    transition: opacity 0.3s;
  }
}

.p-footer__subLink a:hover {
  @include mq("md") {
    opacity: 0.8;
  }
}

.p-footer__nav {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    gap: rem(30);
    align-items: flex-end;
    gap: rem(12);
    width: 50%;
  }
}

.p-footer__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include mq("md") {
    align-items: flex-start;
    width: 100%;
  }
}

.p-footer__link {
  width: 65%;
  @include mq("md") {
    margin: 0;
    padding: 0;
    gap: rem(12);
    width: 100%;
  }
}
.p-footer__item {
  width: 100%;
}
.p-footer__item + .p-footer__item {
  margin-top: rem(8);
}
.p-footer__item a {
  color: $color-black;
  display: inline-flex;
  align-items: center;
  padding-left: rem(29);
  line-height: 1.9;
  padding-top: rem(8);
  padding-bottom: rem(8);
  width: 100%;
  font-size: rem(16);
  letter-spacing: 0.05em;
  line-height: 1;
  @include mq("md") {
    font-size: rem(18);
    transition: color 0.3s ease-in-out;
  }
}

.p-footer__item a:hover {
  @include mq("md") {
    color: $color-navy;
    opacity: 1;
  }
}

.p-footer__circle {
  position: relative;
}
.p-footer__circle::before,
.p-footer__circle::after {
  content: "";
  background-image: url(../images/common/arrow-right-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(23);
  height: rem(23);
  position: absolute;
  top: -13px;
  left: -29px;
  z-index: 1;
  @include mq("md") {
    top: -11px;
  }
}

.p-footer__circle::before {
  background-image: url(../images/common/arrow-right-circle.svg);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.p-footer__circle::after {
  background-image: url(../images/common/arrow-right-navy.svg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .p-footer__item a:hover .p-footer__circle::before {
    opacity: 0;
  }

  .p-footer__item a:hover .p-footer__circle::after {
    opacity: 1;
  }
}

.p-footer__privacy {
  align-self: start;
  width: 100%;
  margin-top: rem(12);
  @include mq("md") {
    margin: 0;
    align-self: flex-end;
    width: 100%;
  }
}
.p-footer__privacy a {
  color: $color-gray;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding-left: rem(29);
  line-height: 1;
  font-size: rem(15);
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(18);
    transition: color 0.3s ease-in-out;
  }
}

.p-footer__privacy a:hover {
  @include mq("md") {
    color: $color-navy;
    opacity: 1;
  }
}

.p-footer__circle-gray {
  position: relative;
}
.p-footer__circle-gray::before,
.p-footer__circle-gray::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(22);
  height: rem(22);
  position: absolute;
  top: -12px;
  left: -29px;
  z-index: 1;
}

.p-footer__circle-gray::before {
  background-image: url(../images/common/arrow-right-circle-gray.svg);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.p-footer__circle-gray::after {
  background-image: url(../images/common/arrow-right-navy.svg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .p-footer__privacy a:hover .p-footer__circle-gray::before {
    opacity: 0;
  }

  .p-footer__privacy a:hover .p-footer__circle-gray::after {
    opacity: 1;
  }
}

.p-footer__bottom {
  margin-top: rem(22);
}
.p-footer__sitemap a {
  width: 100%;
  text-align: center;
  margin-top: rem(22);
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.05em;
  color: $color-cyan;
  @include mq("md") {
    font-size: rem(20);
    transition: opacity 0.3s;
  }
}

.p-footer__sitemap a:hover {
  @include mq("md") {
    opacity: 0.8;
  }
}

.p-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}
.p-footer__copy {
  text-align: center;
  color: $color-gray;
  font-size: rem(10);
  line-height: 1;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(15);
  }
}
