@use "global" as *;

.p-flow-list {
  counter-reset: number;
}

.p-flow-list__item {
  display: flex;
}

.p-flow-list__item + .p-flow-list__item {
  margin-top: rem(20);
}

.p-flow-list__item::before {
  content: counter(number);
  counter-increment: number;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: rem(40);
  font-size: rem(18);
  line-height: 1;
  color: $color-white;
  background-color: $color-cyan;
  @include mq(md) {
    width: rem(85);
    font-size: rem(24);
  }
}

.p-flow-list__item-wrap {
  padding: rem(20) rem(16);
  border: rem(2) solid $color-cyan;
  @include mq(md) {
    padding: rem(25) rem(27);
  }
}

.p-flow-list__item-title {
  flex-shrink: 0;
  font-size: rem(18);
  line-height: 1;
  font-weight: $medium;
  color: $color-cyan;
  @include mq(md) {
    font-size: rem(20);
    text-align: initial;
  }
}

.p-flow-list__item-text {
  margin-top: rem(16);
  font-size: rem(16);
  line-height: 1.75;
  @include mq(md) {
  }
}
