@use "global" as *;

.p-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(110);
  z-index: -1;
  background: url(../images/common/header_top.webp);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  @include mq("md") {
    height: rem(300);
  }
}
