@use "global" as *;

// .l-inner-outpatient を使用して幅を管理

.p-initialVisit__body {
  font-family: $base-font-family;
  color: $color-black;
  font-size: rem(15);
  letter-spacing: 0.02em;
  margin-top: rem(18);
  @include mq(md) {
    margin-top: rem(22);
    padding-left: rem(30);
    line-height: 2.3;
    font-size: rem(17);
  }
}
