@use "global" as *;

.p-mission__inner.l-inner {
  max-width: rem(600);
  @include mq("md") {
    max-width: rem(1020);
  }
}

.p-mission__content {
  margin-top: rem(16);
  width: 100%;
  @include mq("md") {
    margin-top: rem(16);
    max-width: rem(900);
    margin: 0 auto;
  }
}

.p-mission__text {
  font-size: rem(16);
  line-height: 1.9;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(17);
  }
}
