@use "global" as *;

.p-menu-link__inner.l-inner {
  width: 100%;
  max-width: rem(600);
  @include mq(md) {
    max-width: rem(1020);
  }
}

.p-menu-link__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(30);
  max-width: rem(1080);
  margin-inline: auto;

  @include mq(md) {
    gap: rem(18) rem(30);
  }
}

// cyan
.p-menu-link__btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(45) rem(12) rem(48);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-cyan;
  width: 100%;
  height: 100%;
  @include mq(md) {
    gap: rem(20);
    max-width: rem(320);
    min-height: rem(153);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

.p-menu-link__btn:hover {
  @include mq(md) {
    background-color: $color-cyan;
    color: $color-white;
    opacity: 1;
  }
}

.p-menu-link__btn::before {
  content: "";
  mask-image: url(../images/common/medical-questionnaire-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color-cyan;
  width: rem(56);
  height: rem(77);
  position: absolute;
  left: 11%;
  top: 23%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn-arrow {
  background-color: $color-cyan;
  border-color: $color-cyan;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.p-menu-link__btn:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: $color-white;
  }
}

.p-menu-link__btn-arrow::after {
  content: "";
  width: rem(20);
  height: rem(20);
  position: absolute;
  background-color: $color-white;
  mask-image: url(../images/common/arrow-down-right.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-image: url(../images/common/arrow-down-right.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  transition: background-color 0.4s ease-in-out;
}
.p-menu-link__btn:hover .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: $color-cyan;
  }
}

.p-menu-link__btn-text {
  padding-left: rem(80);
  font-size: rem(22);
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: $color-cyan;
  transition: color 0.3s ease-in-out;
}
.p-menu-link__btn:hover .p-menu-link__btn-text {
  @include mq(md) {
    color: $color-white;
  }
}

// green

.p-menu-link__btn.p-menu-link__btn--green {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(25) rem(12);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-green;
  width: 100%;
  height: 100%;
  @include mq(md) {
    gap: rem(20);
    max-width: rem(320);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.p-menu-link__btn.p-menu-link__btn--green:hover {
  @include mq(md) {
    background-color: $color-green;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--green::before {
  content: "";
  mask-image: url(../images/common/stethoscope-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color-green;
  width: rem(70);
  height: rem(68);
  position: absolute;
  left: 8%;
  top: 25%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--green:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn-arrow.p-menu-link__btn-arrow--green {
  background-color: $color-green;
  border-color: $color-green;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--green:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--green:hover .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: $color-green;
  }
}

.p-menu-link__btn-text.p-menu-link__btn-text--green {
  color: $color-green;
}

// blue

.p-menu-link__btn.p-menu-link__btn--blue {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(25) rem(12);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-blue;
  width: 100%;
  height: 100%;
  @include mq(md) {
    gap: rem(20);
    max-width: rem(320);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.p-menu-link__btn.p-menu-link__btn--blue::before {
  content: "";
  mask-image: url(../images/common/recruit-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color-blue;
  width: rem(76);
  height: rem(54);
  position: absolute;
  left: 11%;
  top: 29%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--blue:hover {
  @include mq(md) {
    background-color: $color-blue;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--blue:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn-arrow.p-menu-link__btn-arrow--blue {
  background-color: $color-blue;
  border-color: $color-blue;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.p-menu-link__btn-text.p-menu-link__btn-text--blue {
  color: $color-blue;
}

.p-menu-link__btn.p-menu-link__btn--blue:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--blue:hover .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: $color-blue;
  }
}

// pink

.p-menu-link__btn.p-menu-link__btn--pink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(57) rem(12);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-pink;
  width: 100%;
  height: 100%;
  @include mq(md) {
    padding: rem(40) rem(12);
    gap: rem(20);
    max-width: rem(320);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.p-menu-link__btn.p-menu-link__btn--pink::before {
  content: "";
  mask-image: url(../images/common/bed-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color-pink;
  width: rem(76);
  height: rem(54);
  position: absolute;
  left: 11%;
  top: 34%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--pink:hover {
  @include mq(md) {
    background-color: $color-pink;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--pink:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn-arrow.p-menu-link__btn-arrow--pink {
  background-color: $color-pink;
  border-color: $color-pink;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.p-menu-link__btn-text.p-menu-link__btn-text--pink {
  color: $color-pink;
}

.p-menu-link__btn.p-menu-link__btn--pink:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--pink:hover .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: $color-pink;
  }
}

// orange

.p-menu-link__btn.p-menu-link__btn--orange {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(57) rem(12);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid #232e83;
  width: 100%;
  height: 100%;
  @include mq(md) {
    gap: rem(20);
    max-width: rem(320);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.p-menu-link__btn.p-menu-link__btn--orange:hover {
  @include mq(md) {
    background-color: #232e83;
    color: #232e83;
  }
}

.p-menu-link__btn.p-menu-link__btn--orange::before {
  content: "";
  mask-image: url(../images/common/human-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #232e83;
  width: rem(46);
  aspect-ratio: 46 / 59;
  position: absolute;
  left: 16%;
  top: 30%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--orange:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--orange:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: #232e83;
  }
}

.p-menu-link__btn-arrow.p-menu-link__btn-arrow--orange {
  background-color: #232e83;
  border-color: #232e83;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.p-menu-link__btn.p-menu-link__btn--orange .p-menu-link__btn-arrow::after {
  content: "";
  mask-image: url(../images/common/arrow-down-right.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $color-white;
  width: rem(20);
  height: rem(20);
  position: absolute;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn-text.p-menu-link__btn-text--orange {
  color: #232e83;
  transition: color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--orange:hover .p-menu-link__btn-text {
  @include mq(md) {
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--orange:hover
  .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: #232e83;
  }
}

// navy
.p-menu-link__btn.p-menu-link__btn--navy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(57) rem(12);
  font-size: rem(22);
  line-height: 1.4;
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-navy;
  width: 100%;
  height: 100%;
  @include mq(md) {
    gap: rem(20);
    max-width: rem(320);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.p-menu-link__btn.p-menu-link__btn--navy:hover {
  @include mq(md) {
    background-color: $color-navy;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--navy .p-menu-link__btn-text {
  color: $color-navy;
}
.p-menu-link__btn.p-menu-link__btn--navy:hover .p-menu-link__btn-text {
  @include mq(md) {
    color: $color-white;
  }
}
.p-menu-link__btn.p-menu-link__btn--navy::before {
  content: "";
  mask-image: url(../images/common/heart-icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color-navy;
  width: rem(75);
  height: rem(54);
  position: absolute;
  left: 11%;
  top: 29%;
  transition: background-color 0.3s ease-in-out;
}

.p-menu-link__btn.p-menu-link__btn--navy:hover::before {
  @include mq(md) {
    background-color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--navy:hover .p-menu-link__btn-arrow {
  @include mq(md) {
    background-color: $color-white;
    color: $color-white;
  }
}

.p-menu-link__btn.p-menu-link__btn--navy:hover .p-menu-link__btn-arrow::after {
  @include mq(md) {
    background-color: $color-navy;
  }
}

.p-menu-link__btn-arrow.p-menu-link__btn-arrow--navy {
  background-color: $color-navy;
  border-color: $color-navy;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: rem(54);
  height: rem(44);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.p-menu-link__btn-text.p-menu-link__btn-text--navy {
  color: $color-navy;
  transition: color 0.3s ease-in-out;
}
.p-menu-link__btn.p-menu-link__btn--navy:hover .p-menu-link__btn-text {
  @include mq(md) {
    color: $color-white;
  }
}
