@use "global" as *;

.p-nursing__inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(25);
    max-width: rem(900);
  }
}

/* タイトル */
.p-nursing__title {
  display: flex;
  align-items: center;
  gap: rem(10);
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(24);
  color: $color-black;
  font-family: $heading-family;
}

/* 医師選択ボタン */
.p-nursing__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(17);
  margin-bottom: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
  }
}
.p-nursing__item {
  width: 100%;
}
.p-nursing__btn {
  border: 1.5px solid $color-blue;
  border-radius: 50px;
  background: $color-white;
  padding: rem(15) rem(40);
  font-size: rem(16);
  font-weight: 600;
  color: $color-blue;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  @include mq("md") {
    max-width: rem(250);
    padding: rem(14) rem(40);
    font-size: rem(20);
  }
}
.p-nursing__btn.is-active,
.p-nursing__btn:hover {
  background: $color-blue;
  color: $color-white;
}

/* プロフィール全体 */
.p-nursing__profile {
  display: flex;
  flex-direction: column-reverse;
  gap: rem(20);
  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
  }
}

.p-nursing__info {
  @include mq("md") {
    width: 60%;
  }
}

/* 左側テキスト部分 */
.p-nursing__label {
  font-size: rem(15);
  margin-bottom: rem(4);
  @include mq("md") {
    font-size: rem(18);
  }
}
.p-nursing__name {
  font-size: rem(18);
  font-weight: 700;
  margin: 0;
  @include mq("md") {
    font-size: rem(30);
  }
}
.p-nursing__kana {
  font-size: rem(13);
  color: #777;
  margin-bottom: rem(24);
  @include mq("md") {
    font-size: rem(15);
  }
}

/* 右側画像部分 */
.p-nursing__img {
  width: 100%;
  @include mq("md") {
    width: 40%;
  }
}
.p-nursing__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(20);
  aspect-ratio: 1/1;
  @include mq("md") {
    aspect-ratio: 1/1;
  }
}

.p-nursing__content {
  padding-bottom: rem(40);
  border-bottom: 1px solid $color-gray-light;
}
.p-nursing__message {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.p-nursing__message-title {
  font-size: rem(18);
  font-weight: 700;
  padding-bottom: rem(6);
  border-bottom: 1px solid $color-blue;
  font-family: $heading-family;
}
.p-nursing__message-text {
  font-size: rem(16);
  line-height: 1.9;
  @include mq("md") {
    font-size: rem(18);
  }
}
