@use "global" as *;

.p-recruit-fv {
  position: relative;
  z-index: 1;
  font-family: $recruit-family;

  @include mq("md") {
    height: 100vh;
    min-height: rem(400);
  }
}

.p-recruit-fv::before {
  @include mq(md) {
    content: "";
    position: absolute;
    top: 15%;
    right: 25%;
    width: rem(150);
    height: rem(150);
    background: url(../images/common/bird_02.svg) no-repeat center
      bottom/contain;
  }
}

.p-recruit-fv__title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  font-size: rem(30);
  line-height: 1;
  color: $color-white;
  font-family: $recruit-family;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @include mq(md) {
    right: 5%;
    font-size: rem(35);
    text-align: right;
  }
}

.p-recruit-fv__image {
  height: inherit;
}

.p-recruit-fv__image picture {
  height: inherit;
}

.p-recruit-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
